$color-white:#ffffff;
// $color-aqua-marine:#50e3c2;
$color-black:#000000;
// $color-blood-orange:#ff4800;
// $color-dull-red:#8C2700;
// $color-flour-yellow:#fd9e28;
// $color-yellow-orange:#faa51b;
// $color-dark-yellow-orange:#ea9a19;
// $color-dark-grey:#58595b;
// $color-normal-grey:#939598;
// $color-light-grey:#ddd;
// $color-lightest-grey:#454545;
// $color-normal-blue: blue;

$color-green: #2effb5;
$color-grey: #757575;
$light-black: #4a4a4a;
$light-grey: #dddddd;
$dark-grey: #5d5c5e;
$lighter-grey: #f9f9f9;
$extra-light-grey: #f2f2f2;

$font-xxs: 10px;
$font-medium: 20px;
$font-xs: 14px;
$font-small: 16px;
$font-large: 24px;
$font-xl: 32px;
$font-xxl: 36px;
