$color-white:#ffffff;
$color-black:#000000;
$color-green: #2effb5;
$color-grey: #757575;
$light-black: #4a4a4a;
$light-grey: #dddddd;
$dark-grey: #5d5c5e;
$lighter-grey: #f9f9f9;
$extra-light-grey: #f2f2f2;

$font-xxs: 10px;
$font-medium: 20px;
$font-xs: 14px;
$font-small: 16px;
$font-large: 24px;
$font-xl: 32px;
$font-xxl: 36px;
