@font-face {
  font-family: Montserrat-Regular;
  font-style: normal;
  src: url('/app/styles/fonts/Montserrat-Regular.otf') format("opentype");
}

@font-face {
  font-family: Montserrat-Hairline;
  font-style: normal;
  src: url('/app/styles/fonts/Montserrat-Hairline.otf') format("opentype");
}

@font-face {
  font-family: Montserrat-Light;
  font-style: normal;
  src: url('/app/styles/fonts/Montserrat-Light.otf') format("opentype");
}

@font-face {
  font-family: Montserrat-Bold;
  font-style: normal;
  src: url('/app/styles/fonts/Montserrat-Bold.otf') format("opentype");
}

@font-face {
  font-family: Montserrat-Black;
  src: url("/app/styles/fonts/Montserrat-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: ExodusDemo-Stencil;
  src: url("/app/styles/fonts/ExodusDemo-Stencil.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}