@font-face {
  font-family: Open-Sans;
  font-style: normal;
  src: url('./app/styles/fonts/Open_Sans/OpenSans-Regular.ttf') format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  src: url('./app/styles/fonts/Roboto/Roboto-Regular.ttf') format("truetype");
}

@font-face {
  font-family: Roboto-Condensed;
  font-style: normal;
  src: url('./app/styles/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf') format("truetype");
}

@font-face {
  font-family: Roboto-Mono;
  font-style: normal;
  src: url('./app/styles/fonts/Roboto_Mono/RobotoMono-Regular.ttf') format("truetype");
}

@font-face {
  font-family: Roboto-Slab;
  src: url("./app/styles/fonts/Roboto_Slab/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}