@import '../../styles/config.scss';
footer {
    font-family: Montserrat-Hairline;
    background: $lighter-grey;
    padding: 50px 45px;
    color: $color-grey;

    &.row {
        margin-right: 0;
    }

    .footer-block-container {
        border-bottom: 1px solid $light-grey;
        padding-bottom: 15px;
        > div {
            padding: 0 10px;
        }
    }
    h4 {
        font-family: 'Montserrat-Bold';
        font-size: $font-medium;
    }
    span {
        font-family: 'Montserrat-Regular';
        font-size: $font-xs;
    }
    .social-media-container {
        width: 100%;
        margin-top: 20px;

        a {
            margin-right: 10px;
            display: inline-block;
        }
    }
}