.journies-section{
    .display-3{
        width: 612px;
        height: 39px;
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 600;
        letter-spacing: 4px;
        text-align: left;
        color: #757575;
        margin: auto;
    }
    .lead{
        width: 496px;
        height: 17px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1.8px;
        text-align: left;
        color: #757575;
        margin: auto;
        margin-bottom: 50px;
    }
}